th{
    font-weight: 900;
}

table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    border-color: #0174DF;
}
th{
    font-weight: 900;
    background-color: #0174DF;
    color: white;
}


